* {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
}

p {
	margin: 5px 0;
}

.clearer {
    clear: both;
}


body {
	background-color:#3d4d7a;
	font-family: Calibri, "Verdana", "Courier New";
	font-size:14px;
}

.main-container {
	margin: 5px auto;
	padding: 1px;
	width: 1024px;
	background-color:#FFF;
}

.header {
	margin: 0;
	padding: 10px 0;
	text-align:center;
}

.page-content {
	margin: 0;
	padding: 10px;	
	color:#000;
}

.footer {
	margin: 10px 0;
	padding: 10px 0;
	text-align:center;
}
